<!DOCTYPE html>
<html>
  <head>
    <title>My Rails Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div id="sidebar">
    <div id="logo">
      <%= link_to root_path do  %>
      <%= image_tag "rails.jpg" %>
      <% end %>
      <h1 id="title-link">Rails Blog</h1>
      <p id="about">Home</p>
    </div>

  </div>
  <div class="main-content">
  <div id="header">
    <% if !logged_in? %>
      <button class="button"><%= link_to "Register", users_new_path  %></button>
      <button class="button"><%= link_to "Login", sessions_new_path  %></button>
    <% elsif logged_in? %>
      <button class="button"><%= link_to "New Post", new_post_path %></button>
      <button class="button"><%= link_to "Log Out", sessions_path(@session), method: :delete %></button>
    <% end %>
  </div>
  <% flash.each do |name,msg| %>
  <%= content_tag(:div, msg, class: "alert") %>
  <% end %>
    <%= yield %>
  </div>
  </body>
</html>
